.board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    width: 800px;
    height: 800px;
    margin: 0;
}


.square.light {
    background-color: #EBECD0;
}

.square.dark {
    background-color: #739552;
}

